p{
    margin-top: 50%;
}

.loader{
    width: 100%;
    height: 100%;
    background-color: #ff5248;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 0.5s 2.2s ease-in forwards;
    z-index: 99;
    color: #19cdca;
    text-align: center;
}
.progress-bar{
    width: 200px;
    height: 5px;
    background-color: darkslategray;
    position: relative;
    top: calc(50% - 1px);
    left: calc(50% - 100px);
    margin-top: -55%;
}
.progress-bar::before{
    content: "";
    display: block;
    width: 0px;
    height: 5px;
    position: absolute;
    top: -1px;
    animation: progress 2.2s ease-in-out forwards
}
@keyframes loader{
    to{
        left: -100%;
    }
}
@keyframes progress {
    to{
        border-left: 200px solid yellowgreen;
    }
}
